<div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
  <div class="show-blog-post listing-radius">
    <div class="listing-content">
      <h1 class="lead post-title">New Post</h1>
      <div class="row post-content">
        {{input value=fields.title class="form-control" placeholder="Title"}}
        <div class="alert-danger remove_background">{{errors.errors.title}}</div>
      </div>
      <div class="row post-content">
        {{textarea rows="4" cols="50"  value=fields.body class="form-control" placeholder="Content of the post"}}
          <div class="alert-danger remove_background">{{errors.errors.body}}</div>
      </div>
    </div>
    <div class="row blog-show-page">
      <div class="blog-post-author">
        <button {{action "createPost"}} class="btn btn-primary btn-xs">Save</button>
      </div>
    </div>
  </div>
</div>